<div *ngIf="showViewer">
  <ngx-extended-pdf-viewer
    (pagesLoaded)="onPagesLoaded($event)"
    (pageRendered)="onEvent('pageRendered', $event)"
    [src]="reportData"
    [useBrowserLocale]="true"
    [customToolbar]="additionalButtons"
    [textLayer]="true"
    [height]="'80vh'"
    [language]="'en'"
  >
  </ngx-extended-pdf-viewer>
  <ng-template #additionalButtons>
    <div id="toolbarViewer">
      <div id="toolbarViewerLeft">
        <pdf-toggle-sidebar></pdf-toggle-sidebar>
        <div class="toolbarButtonSpacer"></div>
        <pdf-find-button
          [showFindButton]="true"
          [textLayer]="true"
        ></pdf-find-button>
        <pdf-paging-area></pdf-paging-area>
      </div>
      <div id="toolbarViewerRight">
        <pdf-presentation-mode></pdf-presentation-mode>
        <pdf-print></pdf-print>
        <pdf-download></pdf-download>
        <pdf-bookmark></pdf-bookmark>
        <div class="verticalToolbarSeparator hiddenSmallView"></div>
        <pdf-toggle-secondary-toolbar></pdf-toggle-secondary-toolbar>
      </div>
      <pdf-zoom-toolbar></pdf-zoom-toolbar>
    </div>
  </ng-template>
</div>
